# Temporary Solidworks files
**/~$*
# Simulation database files
*.GEN
*.MAS
*.OUT
*.TEM
*.LCD
*.LCN
*.LCP
*.LCM
*.IDA
*.LDS
*.STE
*.STN
*.FTR
# *.STP
*.GCF
*.ELF
*.EFF
*.CNT
*.NP1
*.NP2
*.MSF
*.EIG
*.DSP
*.RSL
# Error log files
*.log
Icarus/Icarus-Middle/Payload/Enclosure/Upper Arms Retainer.SLDPRT
